// COLORS
// ---------------------

$red: #e02009;
$blue: #3F00A6;
$gray: #ecf0f1;
$green: #1D9F75;
$orange: #e67e22;
$emerald: #2ecc71;
$yellow: #f1c40f;
$amethyst: #9b59b6;
$tomato: tomato;
$indigo: #3F51B5;
$light-green: #1ed760;
$white: #f7f7f7;
$medium-purple: #573668;
$purple: #8F0071;
$light-purple: #6F475C;
$turquoise: #009992;

$bg-dark: #252A34;
$bg-white: #f9f9f9;
$text-dark: $bg-dark;
$text-white: $bg-white;

$inner-shadow: inset 0 0 20px 0 rgba(0,0,0,0.3);

$gradient: linear-gradient(to right, #B00099 0%, #2d5f9f 100%);
$gradient-ms: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A61474', endColorstr='#3143A5', GradientType=1 );



// SETTINGS
// ---------------------

$total-col:	12;
$color-theme: $red;
$navbar-height: 15vh;
$navbar-position:relative;


// GRID LAYOUTS
// ---------------------

$landing-page:		"header header header"
    				"main   main   main"
   					"footer footer footer"; 

$one-sidebar-right: "header header header"
    				"main   main   side-right"
   					"footer footer footer";

$one-sidebar-left: "header header header"
    				"side-left   main   main"
   					"footer footer footer";  					

$two-sidebars:		"header header header"
    				"side-left   main   side-right"
   					"footer footer footer";

$two-sidebars-right:"header header header"
    				"main   side-left   side-right"
   					"footer footer footer";

$two-sidebars-left:"header header header"
    				"side-left   side-right   main"
   					"footer footer footer";

$auto-row: auto;
   					

// BREAKPOINTS
// ---------------------

$mobile: 480px;
$tablet: 960px;
$notebook: 1200px;
$desktop: 1201px;