@import "variables";
@import "base";
@import "mixins";
@import "modules/grid";
@import "modules/typo";
@import "modules/menu";
@import "modules/slick";
@import "modules/modal";
@import "modules/navbar";
@import "modules/buttons";
@import "modules/lightbox";
@import "modules/animations";
@import "modules/slick-theme";
@import "modules/responsiveness";
@import "modules/font-awesome/style";

body {
  @include make-body($bg-white, 16px);
}

header {
  padding: 20px 0;
  @include make-header(transparent);

  nav {
    height: 60px;
  }

  
  .container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    @media (max-width: $tablet) {
      padding-top: 60px;
    }
  }

  #logo-cabecalho {
    max-width: 176px;

    @media (max-width: $tablet) {
      margin: 0 auto;
    }
  }

  #link-cabecalho {
    color: $red;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.navbar {
	@include make-navbar($bg-dark);
}

#logo-ricardo-ozcar {
  max-width: 176px;
  max-height: 115px;

  @media (max-width: $tablet) {
    margin: 0 auto;
    margin-top: -6px;;
    position: relative;
    width: 80px;
    z-index: 10
  }

  @media (max-width: $mobile) {
    margin-left: 30px;
  }
}
// SECTIONS
// -------------------------------

#pagina-hotsite {
  background-image: url(../img/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet + 1) {
    header {
      position: absolute;
    }
  }

  footer {
    align-items: center;
    background-color: transparent!important;
    background-image: none;
    display: flex;
    flex-flow: column wrap;

    img {
      display: block;
      width: auto;
    }
  }
}

#menu-botoes {
  display: flex;
  justify-content: space-between;
  max-width: 690px;
  margin: 5px 0;
  width: 100%;

  @media (max-width: $tablet) {
    flex-flow: column;
  }

  :last-child {
    margin-right: 0;
  }
}

#video-hotsite {
  align-items: flex-end;
  display: flex;
  flex-flow: column;
  text-align: right;
  
  button {
    border: 2px solid #ffffff;
    color: $red;
    font-family: "Titillium Web";
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 13px;
    margin: 20px 0 10px;

    &:hover {
      background: $red;
      border-color: $red;
      color: white;
    }
  }

  #video-secao {
    margin: 20px 0;

    @media (min-width: $tablet) {
      width: 690px;
      height: 395px;
      float: right;
    }

    iframe {
      padding: 5px;
      border: 2px solid white;

    }
  }
}

#video-social {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
  }

}

#redes {
  font-size: 1.5rem;
  margin-left: 20px;
  
  a {
    transition: all .2s;

    &:hover {
      color: white;
    }
  }

  .fa-circle {
    color: white;
    transition: all .2s;
  }

  a:hover .fa-circle {
    color: $red;
  }
}

#ouca-nas-plataformas {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-style: italic;

  sub {
    display: block;
    font-weight: 200;
    font-style: normal;
    margin-bottom: -10px;
  }
}

#plataformas-de-audio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media(max-width: $mobile) {
    flex-flow: column wrap;
  }

  .plataforma {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
    transition: all .1s;
    cursor: pointer;

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  #spotify {
    color: $light-green;
  }
}

#vmais {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  img {
    max-width: 42px;
  }
}

#area-do-fa {
  background: $gradient;
  filter: $gradient-ms;
  height: 100vh;
  overflow-x: hidden;
  width: 100%;

  header {
    background-color: #B70092;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    padding: 10px 0;
    width: 100%;
  }

  #logo-ricardo-ozcar {
    display: none;
  }

  #redes {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    font-size: 0.8rem;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;

    @media (max-width: $tablet) {
      align-items: flex-end;
      flex-flow: row;
      height: 250px;
      justify-content: center;
    }
  }

}

nav {
  display: flex;
  font-family: "Mayeka";
  font-size: 1.6rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;

  a {
    color: inherit;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    position: fixed;
    margin-top: 10px;
  }

  #menu{
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    padding-right: 30px;
    text-align: right;
    
    @media (max-width: $tablet) {
      position: fixed;
      width: 100%;
      margin-top: -10px;
      padding-right: 0;
    }

    #menu-icon-wrapper {
      margin-left: 20px;
      position: relative;
      z-index: 9999;
    }

    .barra {
      align-items: center;
      background: #ffffff;
      color: rgba(0, 0, 0, 0.685);
      display: flex;
      justify-content: flex-end;
      min-width: 300px;
      padding-right: 30px;
      width: 100%;

      img {
        height: 27px;
        margin-left: 5px;
        vertical-align: text-top;
        width: 52px;
      }
    }

    .seta-esquerda {
      border-style: solid;
      border-width: 60px 0 0 60px;
      border-color: transparent transparent transparent #ffffff;
      display: block;
      height: 0;
      width: 0;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
  
  #fa-clube {
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    min-width: 300px;
    text-align: left;

    @media (max-width: $tablet) {
      margin-top: -10px;
      position: fixed;
    }

    @media (max-width: $mobile) {
      display: none;
    }

    .barra {
      background: #ffffff;
      color: rgba(0, 0, 0, 0.685);
      display: inline-table;
      min-width: 300px;
      padding-left: 30px;
      width: 100%;

      img {
        height: 38px;
        margin-right: 5px;
        vertical-align: middle;
        width: 48px;
      }
    }

    .seta-direita {
      border-style: solid;
      border-width: 0 60px 60px 0;
      border-color: transparent #fff transparent transparent;
      display: block;
      height: 0;
      width: 0;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
}

#seja-um-fa {
  align-items: center;
  background-color: #D8D9DB;
  background-image: url(../img/bg-seja-um-fa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 50px 0;
  
  .item {
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    color: #f9f9f9;
    display: flex;
    flex-flow: column;
    padding: 10px;
    width: 350px;
    border-radius: 0px 0px 5px 5px;
    
    &:first-child {
      border-bottom: none;
      border-radius: 5px 5px 0 0;
    }
  }
}

#clube-de-fas {
  padding: 50px 0;
  
  #lista-de-fas {
    flex-flow: row wrap;
  }

  .fan {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-right: 5px;

    &-foto {
      border-radius: 50%;
      max-width: 30%;
      margin-right: 20px;
      overflow: hidden;
    }

    &-descricao {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }

    span {
      display: block;
    }

    .nome {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

#page-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  text-align: center;

  a {
    color: #fff;
    display: block;
    font-family: Montserrat,sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0px 10px;
    
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    
    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:nth-child(odd) {
      background: #5000A5;
    }

    &:nth-child(even) {
      background: #8C2580;
    }
  }
}

#home {

  .titulo {
    font-family: Mayeka Light;
    font-weight: 300;
    text-transform: uppercase;
  }

  header {
    background-color: transparent;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: 5;

    #header {
      top: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    #slider-home {
      margin-top: -10px;

      img {
        width: 110%;
      }

      .slick-arrow {
        display: none!important;
      }

      .slick-dots {
        bottom: 25%;
      }

      @media (max-width: $tablet) {
        margin-top: 50px;

        .slick-dots {
          bottom: 40%;
        }
      }
    }

    #redes {
      align-items: flex-end;
      display: flex;
      flex-flow: column;
      font-size: 1.3rem;
      margin-left: 0;
      margin-top: 110px;

      @media (max-width: $tablet) {
        align-items: center;
        flex-flow: row;
        height: 250px;
        justify-content: center;
        margin-top: 0;
        width: 100%;
      }

      @media (min-width: 2000px) {
        font-size: 1.6rem;
      }
    }
  }

  #agenda {
    background-color: transparent;
    background-image: url(../img/agenda-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 830px;
    padding-top: 22vh;
    position: relative;
    width: 100%;
    z-index: 4;

    @media (max-width: $tablet){
      padding-top: 18vh;
      margin-top: -25vh;

      .titulo {
        color: white!important;
      }
    }

    @media (min-width: $tablet + 1){
      padding-top: 30vh;
      margin-top: -50vh;

      .slick-dots {
        display: none!important;
      }

      .slick-track {
        > div:nth-child(2) {
          margin-top: 50px;
        }

        > div:nth-child(3) {
          margin-top: 100px;
        }

        > div:nth-child(4) {
          margin-top: 150px;
        }
      }
    }

    @media (min-width: $notebook){
      min-height: 910px;
      padding-bottom: 25vh;
    }

    @media (min-width: 2000px){
      margin-top: -50vh;
      height: 1205px;
    }

    .item-agenda {
      align-items: center;
      display: flex;
      flex-flow: column;

      h2 {
        font-family: Days;
        font-size: 7rem;
        margin-bottom: -30px;

        &:after {
          background-image: url(../img/mais-btn.png);
          background-size: cover;
          content: '';
          display: block;
          height: 40px;
          margin-left: 150px;
          margin-top: -80px;
          position: absolute;
          width: 40px;
        }
      }

      h4 {
        font-weight: 300;
      }

      b {
        display: block;
      }
    }
  }

  #galeria {
    background-color: transparent;
    background-image: url(../img/galeria-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 830px;
    padding: 22vh 0;
    position: relative;
    width: 100%;
    z-index: 3;

    .slick-slide {
      transition: all .4s;
      margin: 20px;
    }

    @media (max-width: $tablet){
      padding: 35vh 0;
      margin-top: -68vh;
    }

    @media (min-width: $tablet + 1) and (max-width: $notebook){
      padding: 40vh 0;
      margin-top: -68vh;
      min-height: 910px;
    }

    @media (min-width: $notebook + 1){
      margin-top: -72vh;
      min-height: 1220px;
      padding: 52vh 0;
    }
    
    @media (min-width: 2000px){
      margin-top: -53vh;
      height: 1430px;
      padding: 40vh 0;
    }

    .foto-galeria {
      align-items: center;
      display: flex;
      flex-flow: column;
      padding: 10px;
    }
  }

  #videos {
    background-color: #EA2F66;
    background-image: url(../img/videos-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 830px;
    padding-bottom: 70px;
    padding-top: 22vh;
    position: relative;
    width: 100%;
    z-index: 2;

    @media (max-width: $tablet){
      padding-top: 25vh;
      margin-top: -50vh;
    }

    @media (min-width: $tablet + 1){
      padding-top: 40vh;
      margin-top: -60vh;
    }

    @media (min-width: $notebook){
      margin-top: -64vh;
    }

    @media (min-width: 2000px){
      margin-top: -54vh;
    }

    #videos-destaque {
      border: 3px solid #83001D;
      display: block;
      margin-top: 40px;
      padding: 10px;

      iframe {
        min-height: 350px;
      }
    }

    .slick-next:before, .slick-prev:before {
      color: #83001D;
    }

    #video-buttons {
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      @media (max-width: $tablet) {
        flex-flow: column;
      }
      
      button {
        border: 2px solid #83001d;
        color: #fff;
        font-size: 1.3rem;
        padding: 10px;

        &:hover {
          background: #83001d;
        }

        @media (max-width: $tablet) {
          margin-top: 10px;
        }
      }
    }

    #plataformas-de-audio_branco {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      img {
        max-width: 132px;
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  #espaco-do-fa {
    background-color: #EA2F66;
    background-image: url(../img/espaco-fa-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    padding: 30px 0;
    width: 100%;

    #brand {
      display: flex;
      justify-content: center;

      img {
        max-width: 378px;
      }
    }

    @media (max-width: $tablet) {
      .fan {
        display: none;
      }
    }

    #botoes-acessar {
      align-items: flex-end;
      display: flex;
      flex-flow: column;
      float: right;
      max-width: 1200px;
      margin-top: -100px;
      position: absolute;
      width: 85vw;

      @media (max-width: $tablet) {
        align-items: center;
        margin-top: 10px;
        position: relative;
      }

      button {
        background: none;
        border: none;
        color: #ffffff;
        display: flex;
        flex-flow: row;
        font-size: 1.2rem;
        margin-top: 10px;

        img {
          max-height: 20px;
          max-width: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  #secao-fas {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $tablet) {
      justify-content: center;
    }

    .fan {
      border-radius: 50%;
      margin: 5px;
      overflow: hidden;
    }

    button {
      max-height: 60px;
      border-radius: 4px;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

#formulario-contrate-nos {
  width: 95%;
}

.campo-form {
  color: $medium-purple!important;
  margin: 5px;

  textarea,
  input {
    border: 2px solid $medium-purple;
    padding: 10px 5px;
    width: 100%;
  }

  textarea {
    width: 102%;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

footer {
  align-items: center;
  background-color: #371126;
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  margin-top: -10px;

  .btn {
    font-family: "Mayeka Light"!important;
    letter-spacing: 2px;
    border-radius: 4px;
    opacity: 0.9;

    &:hover {
      color: white!important;
    }
  }

  #agende-seu-show {
    font-family: "Mayeka Light";

    h2 {
      margin-bottom: -10px;
    }
  }

  .form-area-restrita,
  .col-4 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

    h3 {
      font-family: Montserrat;
    }
  }

  .form-area-restrita {
    margin-bottom: 50px;
  }

  .form-area-restrita-footer {
    align-items: flex-end;

    button {
      margin-bottom: -30px;
    }

    .linha-horizontal {
      width: 8vw;
      max-width: 100px;
    }
  }

  .form-area-restrita {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

    &-header,
    &-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    h4 {
      margin-top: -10px;
    }

    input[type="password"] {
      background: rgba(168,123,129,.719);
      border: none;
      border-radius: 5px;
      color: #fff;
      display: block;
      font-family: Montserrat;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      padding: 15px 0;
      text-align: center;
      width: 80%;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ffffff;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: #ffffff;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: #ffffff;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: #ffffff;
      }
    }
  }

  .item-contato {
    text-align: center;
    margin: 10px 0;
  }

  .linha-horizontal {
    background-color: #ffffff;
    display: block;
    height: 1px;
    width: 3vw;
  }

  img {
    display: block;
    width: auto;
  }
}

// BUTTONS
// ----------------------

@include make-button(default,$color-theme);
@include make-button(red,$red);
@include make-button(green,$green);
@include make-button(blue,$blue);
@include make-button(indigo, $white, $indigo);
@include make-button(amethyst, $white, $amethyst);
@include make-button(purple, $white, $purple);
@include make-button(lightPurple, $white, $light-purple);
@include make-button(orange,$orange);
@include make-button(white,$white);