footer
  .container
    .row
      .col-4#agende-seu-show
        h2 CONTATO
        h4 AGENDE SEU SHOW AQUI
        label(for="modal-contratar" aria-selected="true").btn.btn-purple
          | CONTRATAR
      .col-4
        h3 RÁDIOS
        .form-area-restrita
          .form-area-restrita-header
            .linha-horizontal
            h4 ACESSE A ÁREA DE DOWNLOADS
            .linha-horizontal
          input(type="password", name="", placeholder="SENHA")
          .form-area-restrita-footer
            .linha-horizontal
            button.btn.btn-lightPurple
              | ACESSAR
            .linha-horizontal
        h3 CONTRATANTES
        .form-area-restrita
          .form-area-restrita-header
            .linha-horizontal
            h4 ACESSE A ÁREA DE DOWNLOADS
            .linha-horizontal
          input(type="password", name="", placeholder="SENHA")
          .form-area-restrita-footer
            .linha-horizontal
            button.btn.btn-lightPurple
              | ACESSAR
            .linha-horizontal
      .col-4
        .item-contato
          h3 SHOWS
          span contato@ricardoozcar.com.br
          br
          b (00) 0000-0000

        .item-contato
          h3 MARKETING
          span contato@agenciavmais.com.br
          br
          b (00) 0000-0000

        .item-contato
          h3 PRODUÇÃO
          span contato@ricardoozcar.com.br
          br
          b (00) 0000-0000