.modal
  input#modal-contratar.modal-open(type="checkbox" hidden="")
  .modal-wrap(aria-hidden="true" role="dialog")
    label.modal-overlay(for="modal-contratar")
    .modal-dialog
      .modal-header
        i.fa.fa-comments-o
        h3.text-center CONTRATE-NOS
        h4.text-center Tenha um show do Ricardo Ozcar na sua cidade!
      .modal-body.row
        form#formulario-contrate-nos
          .row.no-gutter
            .campo-form.col-6
              input(type="text", name="nome", placeholder="Seu Nome")
            .campo-form.col-6
              input(type="email", name="email", placeholder="Seu Email")

          .row.no-gutter
            .campo-form.col-6
              input(type="text", name="cidade", placeholder="Cidade")
            .campo-form.col-6
              input(type="tel", name="telefone", placeholder="Telefone")

          .row.no-gutter
            .campo-form.col-12
              textarea(name="mensagem", placeholder="Deixe sua mensagem")
      .modal-footer
        button.btn.btn-white
          | Enviar