.modal#galeria-modal
  input#modal-galeria.modal-open(type="checkbox" hidden="")
  .modal-wrap(aria-hidden="true" role="dialog")
    label.modal-overlay(for="modal-galeria")
    .modal-dialog
      label.btn-close(for="modal-galeria", aria-hidden="true")
        | ×
      .modal-body
        input#current_page(type="hidden")
        input#show_per_page(type="hidden")
        #lista-de-fotos