nav
  li#menu
    .barra
      | MENU
      #menu-icon-wrapper.menu-icon-wrapper(style="visibility: hidden")
        svg(width="1000px" height="1000px")
          path#pathA(d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800")
          path#pathB(d="M 300 500 L 700 500")
          path#pathC(d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200")
        button#menu-icon-trigger.menu-icon-trigger
      #dummy.dummy
        .dummy__item
          a(href="/home.html")
            | Home
        .dummy__item
          a(href="#agenda")
            | Agenda
        .dummy__item
          a(href="#galeria")
            | Galeria
        .dummy__item
          a(href="#videos")
            | Vídeos
        .dummy__item
          a(href="#fotos")
            | Fotos
        .dummy__item
          a(href="/area-do-fa.html")
            | FÃ CLUBE
    span.seta-esquerda

  li#fa-clube
    span.seta-direita
    .barra
      a(href="/area-do-fa.html")
        img(src="img/icone-social.png", alt="")
        | FÃ CLUBE