#redes
          a(href="https://www.youtube.com/channel/UCzeD_dkpDgV1g-fKFbTWp2g")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-youtube.fa-stack-1x
          a(href="https://www.facebook.com/cantorricardoozcar/")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x
          a(href="https://www.instagram.com/ricardoozcar/")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-instagram.fa-stack-1x
          a(href="https://twitter.com/ricardoozcar")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x