@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

img {
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .2s ease-in-out; }

body {
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400; }

a {
  color: #e02009;
  text-decoration: none; }

nav {
  list-style-type: none;
  display: inline; }

header {
  display: block; }

main {
  background: rgba(0, 0, 0, 0.1);
  display: block; }

aside {
  display: block;
  background: rgba(0, 0, 0, 0.1); }

button {
  outline: 0;
  border: 3px;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  transition: all .2s ease-in-out; }

hr {
  border: 1px solid currentColor;
  width: 100%;
  display: block; }

blockquote {
  background-color: rgba(151, 178, 232, 0.27);
  padding: 15px; }

footer {
  width: 100%;
  clear: both;
  padding: 10px 0;
  position: relative;
  color: #f9f9f9; }

ol {
  display: block; }

.full {
  width: 100%;
  height: 100vh;
  display: block; }

.flex {
  display: flex; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.center-block {
  margin-right: auto !important;
  margin-left: auto !important; }

.right {
  float: right; }

.left {
  float: left; }

.top-buffer {
  padding-top: 50px; }

.center {
  justify-content: center; }

.middle {
  align-items: center; }

.center-xy {
  align-items: center;
  justify-content: center; }

.align-top {
  align-items: flex-start; }

.align-bottom {
  align-items: flex-end; }

.transparent {
  background: transparent !important; }

.h-50 {
  height: 50%; }

.h-100 {
  height: 100%; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.container {
  width: 85vw;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  display: flex;
  margin: 10px 0; }

.row:after {
  content: '';
  display: table;
  clear: both; }

.grid-header {
  grid-area: header; }

.grid-main {
  grid-area: main; }

.grid-side-left {
  grid-area: side-left; }

.grid-side-right {
  grid-area: side-right; }

.grid-footer {
  grid-area: footer; }

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-basis: 0;
  flex-grow: 1; }

.gutter {
  padding-left: 10px;
  padding-right: 10px; }
  .gutter:first-child {
    margin-left: 0; }
  .gutter:last-child {
    margin-right: 0; }

.col-1 {
  width: 100%;
  padding: 10px 0; }
  .col-1:first-child {
    padding-left: 0; }
  .col-1:last-child {
    padding-right: 0; }

.col-2 {
  width: 100%;
  padding: 10px 0; }
  .col-2:first-child {
    padding-left: 0; }
  .col-2:last-child {
    padding-right: 0; }

.col-3 {
  width: 100%;
  padding: 10px 0; }
  .col-3:first-child {
    padding-left: 0; }
  .col-3:last-child {
    padding-right: 0; }

.col-4 {
  width: 100%;
  padding: 10px 0; }
  .col-4:first-child {
    padding-left: 0; }
  .col-4:last-child {
    padding-right: 0; }

.col-5 {
  width: 100%;
  padding: 10px 0; }
  .col-5:first-child {
    padding-left: 0; }
  .col-5:last-child {
    padding-right: 0; }

.col-6 {
  width: 100%;
  padding: 10px 0; }
  .col-6:first-child {
    padding-left: 0; }
  .col-6:last-child {
    padding-right: 0; }

.col-7 {
  width: 100%;
  padding: 10px 0; }
  .col-7:first-child {
    padding-left: 0; }
  .col-7:last-child {
    padding-right: 0; }

.col-8 {
  width: 100%;
  padding: 10px 0; }
  .col-8:first-child {
    padding-left: 0; }
  .col-8:last-child {
    padding-right: 0; }

.col-9 {
  width: 100%;
  padding: 10px 0; }
  .col-9:first-child {
    padding-left: 0; }
  .col-9:last-child {
    padding-right: 0; }

.col-10 {
  width: 100%;
  padding: 10px 0; }
  .col-10:first-child {
    padding-left: 0; }
  .col-10:last-child {
    padding-right: 0; }

.col-11 {
  width: 100%;
  padding: 10px 0; }
  .col-11:first-child {
    padding-left: 0; }
  .col-11:last-child {
    padding-right: 0; }

.col-12 {
  width: 100%;
  padding: 10px 0; }
  .col-12:first-child {
    padding-left: 0; }
  .col-12:last-child {
    padding-right: 0; }

@font-face {
  font-family: "Mayeka";
  font-weight: normal;
  src: url("fonts/MayekaRegular.otf") format("opentype"); }

@font-face {
  font-family: "Mayeka Demi Bold";
  font-weight: bolder;
  src: url("fonts/MayekaDemiBold.otf") format("opentype"); }

@font-face {
  font-family: "Mayeka Bold";
  font-weight: bold;
  src: url("fonts/MayekaBold.otf") format("opentype"); }

@font-face {
  font-family: "Mayeka Light";
  font-weight: lighter;
  src: url("fonts/MayekaLight.otf") format("opentype"); }

@font-face {
  font-family: "Days";
  font-weight: normal;
  src: url("fonts/Days.ttf") format("truetype"); }

* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

span, p {
  font-size: 1.1rem; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

em {
  background-color: #efefef;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 3px; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 1.5rem; }

.uppercase {
  text-transform: uppercase; }

.vermelho {
  color: #e02009; }

.branco {
  color: white !important; }

.azul {
  color: #3F00A6; }

.roxo {
  color: #8F0071; }

/* Menu icon styles */
.menu-icon-wrapper {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  pointer-events: none;
  transition: 0.1s; }

.menu-icon-wrapper.scaled {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); }

.menu-icon-wrapper svg {
  position: absolute;
  top: -33px;
  left: -33px;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }

.menu-icon-wrapper svg path {
  stroke: #9B2555;
  stroke-width: 60px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent; }

.menu-icon-wrapper .menu-icon-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  background: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0; }

.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
  outline: none; }

#dummy {
  position: absolute;
  margin-top: 0;
  left: -32px;
  transition: all .2s;
  top: -100vh; }

#dummy.dummy--active {
  display: block;
  top: 60px;
  z-index: 9998; }

.dummy__item {
  width: 360px;
  margin: 0em 1.25em;
  background: white;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .dummy__item a {
    width: 100%;
    z-index: 9999;
    display: block;
    position: relative; }

.dummy__item {
  -webkit-transform: translate3d(0, -70vh, 0) translate3d(0, 0, 0) scale3d(0.5, 1, 1);
  transform: translate3d(0, -70vh, 0) translate3d(0, 0, 0) scale3d(0.5, 1, 1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%; }

.device--alt .dummy__item {
  -webkit-transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
  transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1); }

.dummy--active .dummy__item {
  -webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
  transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.dummy__item:nth-child(4),
.dummy--active .dummy__item:first-child {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.dummy__item:nth-child(3),
.dummy--active .dummy__item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.dummy__item:nth-child(2),
.dummy--active .dummy__item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  transition: all .4s;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    transition: all .4s;
    display: block;
    opacity: 0.8; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }
  .slick-slide.slick-current img {
    transform: scale(1.1);
    opacity: 1; }

.slick-arrow.slick-hidden {
  display: none; }

label[for^="modal"] {
  cursor: pointer; }

#galeria-modal .modal-dialog {
  background: #000000;
  height: 100vh !important;
  max-width: 100vw !important; }
  #galeria-modal .modal-dialog .modal-body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center; }
  #galeria-modal .modal-dialog .btn-close {
    color: white;
    position: absolute;
    right: 30px;
    top: 30px; }

#galeria-modal .modal-open:checked ~ .modal-wrap .modal-dialog {
  width: 100vw !important; }

.modal .btn-close {
  color: #e02009;
  cursor: pointer;
  font-size: 5rem;
  line-height: 2rem;
  right: 5px;
  text-decoration: none; }
  .modal .btn-close:hover, .modal .btn-close:focus {
    color: #af1907; }
  @media (max-width: 480px) {
    .modal .btn-close {
      align-self: flex-end; } }

.modal-wrap:before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101; }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102; }

.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
  display: block; }

.modal-open:checked ~ .modal-wrap .modal-dialog {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%; }
  @media (max-width: 480px) {
    .modal-open:checked ~ .modal-wrap .modal-dialog {
      overflow-y: scroll;
      max-height: 90vh;
      max-width: 90vw; } }

.modal-dialog {
  background: #fefefe;
  left: 50%;
  max-width: 600px;
  position: fixed;
  top: -100%;
  transform: translate(-50%, -150%);
  transition: .6s ease-in-out;
  width: 80%;
  z-index: 103; }
  @media (max-width: 480px) {
    .modal-dialog {
      width: 100%; } }

.modal-body {
  padding: 10px 20px; }
  .modal-body p {
    margin: 0; }

.modal-header,
.modal-footer {
  padding: 20px; }

.modal-header {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .modal-header a {
    text-decoration: none; }
  .modal-header h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 5px; }
  .modal-header h4 {
    display: inline-block;
    line-height: 10px;
    margin-left: 10px; }
  .modal-header i.fa.fa-comments-o,
  .modal-header i.fa.fa-calendar {
    border-radius: 50%;
    background: #573668;
    color: white;
    font-size: 30px;
    padding: 15px; }
  @media (max-width: 480px) {
    .modal-header {
      flex-flow: column-reverse; }
      .modal-header .author-profile {
        display: none; } }

.modal-body .data-evento {
  align-items: center;
  background: #573668;
  border-radius: 5px;
  color: #f3f3f3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 5px;
  padding: 20px 0; }
  .modal-body .data-evento h2 {
    font-family: Days;
    font-size: 2rem; }

.modal-body .horario-evento {
  align-items: center;
  background: #f3f3f3;
  border-radius: 5px;
  color: #c8c8c8;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 5px;
  padding: 20px 0; }
  .modal-body .horario-evento h2 {
    color: #573668;
    font-family: Days;
    font-size: 2rem; }

.modal-footer {
  color: white;
  background: #573668;
  text-align: center; }
  .modal-footer .fb_iframe_widget {
    background: white; }
  .modal-footer .btn-white:hover {
    background: white !important;
    color: #573668 !important; }

.navbar {
  top: 0;
  z-index: 10; }

.navbar li,
.nav-menu ul,
.drawer-menu ul {
  display: inline;
  list-style: none; }

.nav-menu {
  font-family: sans-serif;
  display: inline;
  transition: all .2s ease-in-out; }

.nav-menu li {
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: 10px 20px; }
  .nav-menu li:hover {
    background: rgba(255, 255, 255, 0.1); }

.brand {
  font-size: 2em;
  font-weight: 600;
  display: inline; }

.drawer {
  width: 15vh;
  height: 15vh;
  margin-left: -6vw;
  margin-right: 3vw;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  display: none;
  z-index: 10; }
  .drawer .icon-bar {
    background-color: #fff;
    display: block;
    width: 40px;
    height: 5px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto; }
    .drawer .icon-bar:first-child {
      margin-top: 0; }
  .drawer:hover, .drawer:active {
    background: rgba(255, 255, 255, 0.1); }

.drawer-menu {
  display: none;
  transition: all .3s ease-in-out;
  background: #1b1f27;
  box-shadow: 2px -30px 38px -1px rgba(0, 0, 0, 0.4);
  height: 100vh;
  padding-top: 16vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 60vw;
  z-index: 9; }
  .drawer-menu li {
    padding: 20px; }
    .drawer-menu li:hover {
      background: rgba(255, 255, 255, 0.1); }

.hide-drawer {
  width: 0vw !important;
  left: -35vw; }

.overlay {
  overflow: hidden; }

.btn {
  border: 2px solid currentColor;
  padding: 15px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  margin: 10px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  transition: all .17s ease-in-out; }

.btn-lg {
  padding: 20px 40px;
  font-size: 1.5rem; }

.btn-sm {
  padding: 10px;
  font-size: .6rem; }

.rounded {
  border-radius: 30px; }

button > i {
  padding-right: 10px; }

html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-caption a {
  color: #4ae; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.delay {
  animation-delay: .5s; }

.delay-2x {
  animation-delay: 1s; }

.delay-3x {
  animation-delay: 1.5s; }

@-webkit-keyframes toBlack {
  from {
    color: #f9f9f9; }
  to {
    color: #252A34; } }

.toBlack {
  -webkit-animation-name: toBlack;
  animation-name: toBlack;
  animation-delay: 1s; }

@-webkit-keyframes toWhite {
  from {
    color: #252A34; }
  to {
    color: #f9f9f9; } }

.toWhite {
  -webkit-animation-name: toWhite;
  animation-name: toWhite;
  animation-delay: 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 37%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 110px;
    line-height: 0.3;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -45px;
  height: 100%; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -45px; }
  .slick-prev:before {
    content: "‹"; }
    [dir="rtl"] .slick-prev:before {
      content: "›"; }

.slick-next {
  right: -25px;
  height: 100%; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "›"; }
    [dir="rtl"] .slick-next:before {
      content: "‹"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -35px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: relative;
        top: 0;
        left: 0;
        content: "․";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 110px;
        line-height: 0;
        text-align: center;
        color: white;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: white;
      opacity: 0.75; }

@media (max-width: 480px) {
  h1 {
    font-size: 2.8rem; }
  .img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  .drawer {
    margin-left: -7vw;
    right: 0px; }
  .tab-item span {
    display: none; }
  .modal-dialog {
    height: 100vh;
    padding: 20px;
    width: 100vw; } }

@media (max-width: 960px) {
  html {
    font-size: 18px; }
  body {
    overflow-x: hidden; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.1rem; }
  aside {
    margin: 20px auto; }
  .img-responsive {
    margin-left: auto;
    margin-right: auto; }
  .nav-menu {
    display: none; }
  .drawer,
  .drawer-menu,
  .drawer-menu ul,
  .drawer-menu li {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center; }
  .img-center-resize {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  .center-on-mobile {
    margin-right: auto !important;
    margin-left: auto !important;
    justify-content: center; }
  .row {
    flex-flow: column; }
  .gutter {
    padding-left: 0;
    padding-right: 0; }
  .modal-dialog {
    overflow-y: scroll; } }

@media (min-width: 961px) {
  .col-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }
  .col-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }
  .col-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
  .col-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .col-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }
  .col-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .col-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }
  .col-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }
  .col-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%; }
  .col-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }
  .col-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }
  .col-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

body {
  background-color: #f9f9f9;
  font-size: 16px;
  color: #252A34; }

header {
  padding: 20px 0;
  background-color: transparent;
  color: #f9f9f9; }
  header nav {
    height: 60px; }
  header .container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; }
    @media (max-width: 960px) {
      header .container {
        padding-top: 60px; } }
  header #logo-cabecalho {
    max-width: 176px; }
    @media (max-width: 960px) {
      header #logo-cabecalho {
        margin: 0 auto; } }
  header #link-cabecalho {
    color: #e02009;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase; }

.navbar {
  width: 100%;
  display: block;
  height: 15vh;
  position: relative;
  line-height: 15vh;
  background-color: #252A34;
  color: #f9f9f9; }
  .navbar .icon-bar {
    background-color: #f9f9f9; }

#logo-ricardo-ozcar {
  max-width: 176px;
  max-height: 115px; }
  @media (max-width: 960px) {
    #logo-ricardo-ozcar {
      margin: 0 auto;
      margin-top: -6px;
      position: relative;
      width: 80px;
      z-index: 10; } }
  @media (max-width: 480px) {
    #logo-ricardo-ozcar {
      margin-left: 30px; } }

#pagina-hotsite {
  background-image: url(../img/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 961px) {
    #pagina-hotsite header {
      position: absolute; } }
  #pagina-hotsite footer {
    align-items: center;
    background-color: transparent !important;
    background-image: none;
    display: flex;
    flex-flow: column wrap; }
    #pagina-hotsite footer img {
      display: block;
      width: auto; }

#menu-botoes {
  display: flex;
  justify-content: space-between;
  max-width: 690px;
  margin: 5px 0;
  width: 100%; }
  @media (max-width: 960px) {
    #menu-botoes {
      flex-flow: column; } }
  #menu-botoes :last-child {
    margin-right: 0; }

#video-hotsite {
  align-items: flex-end;
  display: flex;
  flex-flow: column;
  text-align: right; }
  #video-hotsite button {
    border: 2px solid #ffffff;
    color: #e02009;
    font-family: "Titillium Web";
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 13px;
    margin: 20px 0 10px; }
    #video-hotsite button:hover {
      background: #e02009;
      border-color: #e02009;
      color: white; }
  #video-hotsite #video-secao {
    margin: 20px 0; }
    @media (min-width: 960px) {
      #video-hotsite #video-secao {
        width: 690px;
        height: 395px;
        float: right; } }
    #video-hotsite #video-secao iframe {
      padding: 5px;
      border: 2px solid white; }

#video-social {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%; }
  #video-social h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300; }

#redes {
  font-size: 1.5rem;
  margin-left: 20px; }
  #redes a {
    transition: all .2s; }
    #redes a:hover {
      color: white; }
  #redes .fa-circle {
    color: white;
    transition: all .2s; }
  #redes a:hover .fa-circle {
    color: #e02009; }

#ouca-nas-plataformas {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-style: italic; }
  #ouca-nas-plataformas sub {
    display: block;
    font-weight: 200;
    font-style: normal;
    margin-bottom: -10px; }

#plataformas-de-audio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  @media (max-width: 480px) {
    #plataformas-de-audio {
      flex-flow: column wrap; } }
  #plataformas-de-audio .plataforma {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
    transition: all .1s;
    cursor: pointer; }
    #plataformas-de-audio .plataforma:first-child {
      padding-left: 0px; }
    #plataformas-de-audio .plataforma:last-child {
      padding-right: 0px; }
    #plataformas-de-audio .plataforma:hover {
      transform: scale(1.1); }
  #plataformas-de-audio #spotify {
    color: #1ed760; }

#vmais {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  #vmais img {
    max-width: 42px; }

#area-do-fa {
  background: linear-gradient(to right, #B00099 0%, #2d5f9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A61474', endColorstr='#3143A5', GradientType=1 );
  height: 100vh;
  overflow-x: hidden;
  width: 100%; }
  #area-do-fa header {
    background-color: #B70092;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    padding: 10px 0;
    width: 100%; }
  #area-do-fa #logo-ricardo-ozcar {
    display: none; }
  #area-do-fa #redes {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    font-size: 0.8rem;
    margin-left: 0;
    margin-top: 30px;
    width: 100%; }
    @media (max-width: 960px) {
      #area-do-fa #redes {
        align-items: flex-end;
        flex-flow: row;
        height: 250px;
        justify-content: center; } }

nav {
  display: flex;
  font-family: "Mayeka";
  font-size: 1.6rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999; }
  nav a {
    color: inherit; }
  @media (max-width: 960px) {
    nav {
      flex-direction: column;
      position: fixed;
      margin-top: 10px; } }
  nav #menu {
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    padding-right: 30px;
    text-align: right; }
    @media (max-width: 960px) {
      nav #menu {
        position: fixed;
        width: 100%;
        margin-top: -10px;
        padding-right: 0; } }
    nav #menu #menu-icon-wrapper {
      margin-left: 20px;
      position: relative;
      z-index: 9999; }
    nav #menu .barra {
      align-items: center;
      background: #ffffff;
      color: rgba(0, 0, 0, 0.685);
      display: flex;
      justify-content: flex-end;
      min-width: 300px;
      padding-right: 30px;
      width: 100%; }
      nav #menu .barra img {
        height: 27px;
        margin-left: 5px;
        vertical-align: text-top;
        width: 52px; }
    nav #menu .seta-esquerda {
      border-style: solid;
      border-width: 60px 0 0 60px;
      border-color: transparent transparent transparent #ffffff;
      display: block;
      height: 0;
      width: 0; }
      @media (max-width: 960px) {
        nav #menu .seta-esquerda {
          display: none; } }
  nav #fa-clube {
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    min-width: 300px;
    text-align: left; }
    @media (max-width: 960px) {
      nav #fa-clube {
        margin-top: -10px;
        position: fixed; } }
    @media (max-width: 480px) {
      nav #fa-clube {
        display: none; } }
    nav #fa-clube .barra {
      background: #ffffff;
      color: rgba(0, 0, 0, 0.685);
      display: inline-table;
      min-width: 300px;
      padding-left: 30px;
      width: 100%; }
      nav #fa-clube .barra img {
        height: 38px;
        margin-right: 5px;
        vertical-align: middle;
        width: 48px; }
    nav #fa-clube .seta-direita {
      border-style: solid;
      border-width: 0 60px 60px 0;
      border-color: transparent #fff transparent transparent;
      display: block;
      height: 0;
      width: 0; }
      @media (max-width: 960px) {
        nav #fa-clube .seta-direita {
          display: none; } }

#seja-um-fa {
  align-items: center;
  background-color: #D8D9DB;
  background-image: url(../img/bg-seja-um-fa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 50px 0; }
  #seja-um-fa .item {
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    color: #f9f9f9;
    display: flex;
    flex-flow: column;
    padding: 10px;
    width: 350px;
    border-radius: 0px 0px 5px 5px; }
    #seja-um-fa .item:first-child {
      border-bottom: none;
      border-radius: 5px 5px 0 0; }

#clube-de-fas {
  padding: 50px 0; }
  #clube-de-fas #lista-de-fas {
    flex-flow: row wrap; }
  #clube-de-fas .fan {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-right: 5px; }
    #clube-de-fas .fan-foto {
      border-radius: 50%;
      max-width: 30%;
      margin-right: 20px;
      overflow: hidden; }
    #clube-de-fas .fan-descricao {
      display: flex;
      flex-flow: column wrap;
      justify-content: center; }
    #clube-de-fas .fan span {
      display: block; }
    #clube-de-fas .fan .nome {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      text-transform: uppercase; }

#page-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
  text-align: center; }
  #page-navigation a {
    color: #fff;
    display: block;
    font-family: Montserrat,sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0px 10px; }
    #page-navigation a:first-child {
      border-radius: 5px 0 0 5px; }
    #page-navigation a:last-child {
      border-radius: 0 5px 5px 0; }
    #page-navigation a:nth-child(odd) {
      background: #5000A5; }
    #page-navigation a:nth-child(even) {
      background: #8C2580; }

#home .titulo {
  font-family: Mayeka Light;
  font-weight: 300;
  text-transform: uppercase; }

#home header {
  background-color: transparent;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
  position: relative;
  width: 100%;
  z-index: 5; }
  #home header #header {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 2; }
  #home header #slider-home {
    margin-top: -10px; }
    #home header #slider-home img {
      width: 110%; }
    #home header #slider-home .slick-arrow {
      display: none !important; }
    #home header #slider-home .slick-dots {
      bottom: 25%; }
    @media (max-width: 960px) {
      #home header #slider-home {
        margin-top: 50px; }
        #home header #slider-home .slick-dots {
          bottom: 40%; } }
  #home header #redes {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    font-size: 1.3rem;
    margin-left: 0;
    margin-top: 110px; }
    @media (max-width: 960px) {
      #home header #redes {
        align-items: center;
        flex-flow: row;
        height: 250px;
        justify-content: center;
        margin-top: 0;
        width: 100%; } }
    @media (min-width: 2000px) {
      #home header #redes {
        font-size: 1.6rem; } }

#home #agenda {
  background-color: transparent;
  background-image: url(../img/agenda-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 830px;
  padding-top: 22vh;
  position: relative;
  width: 100%;
  z-index: 4; }
  @media (max-width: 960px) {
    #home #agenda {
      padding-top: 18vh;
      margin-top: -25vh; }
      #home #agenda .titulo {
        color: white !important; } }
  @media (min-width: 961px) {
    #home #agenda {
      padding-top: 30vh;
      margin-top: -50vh; }
      #home #agenda .slick-dots {
        display: none !important; }
      #home #agenda .slick-track > div:nth-child(2) {
        margin-top: 50px; }
      #home #agenda .slick-track > div:nth-child(3) {
        margin-top: 100px; }
      #home #agenda .slick-track > div:nth-child(4) {
        margin-top: 150px; } }
  @media (min-width: 1200px) {
    #home #agenda {
      min-height: 910px;
      padding-bottom: 25vh; } }
  @media (min-width: 2000px) {
    #home #agenda {
      margin-top: -50vh;
      height: 1205px; } }
  #home #agenda .item-agenda {
    align-items: center;
    display: flex;
    flex-flow: column; }
    #home #agenda .item-agenda h2 {
      font-family: Days;
      font-size: 7rem;
      margin-bottom: -30px; }
      #home #agenda .item-agenda h2:after {
        background-image: url(../img/mais-btn.png);
        background-size: cover;
        content: '';
        display: block;
        height: 40px;
        margin-left: 150px;
        margin-top: -80px;
        position: absolute;
        width: 40px; }
    #home #agenda .item-agenda h4 {
      font-weight: 300; }
    #home #agenda .item-agenda b {
      display: block; }

#home #galeria {
  background-color: transparent;
  background-image: url(../img/galeria-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 830px;
  padding: 22vh 0;
  position: relative;
  width: 100%;
  z-index: 3; }
  #home #galeria .slick-slide {
    transition: all .4s;
    margin: 20px; }
  @media (max-width: 960px) {
    #home #galeria {
      padding: 35vh 0;
      margin-top: -68vh; } }
  @media (min-width: 961px) and (max-width: 1200px) {
    #home #galeria {
      padding: 40vh 0;
      margin-top: -68vh;
      min-height: 910px; } }
  @media (min-width: 1201px) {
    #home #galeria {
      margin-top: -72vh;
      min-height: 1220px;
      padding: 52vh 0; } }
  @media (min-width: 2000px) {
    #home #galeria {
      margin-top: -53vh;
      height: 1430px;
      padding: 40vh 0; } }
  #home #galeria .foto-galeria {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 10px; }

#home #videos {
  background-color: #EA2F66;
  background-image: url(../img/videos-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 830px;
  padding-bottom: 70px;
  padding-top: 22vh;
  position: relative;
  width: 100%;
  z-index: 2; }
  @media (max-width: 960px) {
    #home #videos {
      padding-top: 25vh;
      margin-top: -50vh; } }
  @media (min-width: 961px) {
    #home #videos {
      padding-top: 40vh;
      margin-top: -60vh; } }
  @media (min-width: 1200px) {
    #home #videos {
      margin-top: -64vh; } }
  @media (min-width: 2000px) {
    #home #videos {
      margin-top: -54vh; } }
  #home #videos #videos-destaque {
    border: 3px solid #83001D;
    display: block;
    margin-top: 40px;
    padding: 10px; }
    #home #videos #videos-destaque iframe {
      min-height: 350px; }
  #home #videos .slick-next:before, #home #videos .slick-prev:before {
    color: #83001D; }
  #home #videos #video-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
    @media (max-width: 960px) {
      #home #videos #video-buttons {
        flex-flow: column; } }
    #home #videos #video-buttons button {
      border: 2px solid #83001d;
      color: #fff;
      font-size: 1.3rem;
      padding: 10px; }
      #home #videos #video-buttons button:hover {
        background: #83001d; }
      @media (max-width: 960px) {
        #home #videos #video-buttons button {
          margin-top: 10px; } }
  #home #videos #plataformas-de-audio_branco {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px; }
    #home #videos #plataformas-de-audio_branco img {
      max-width: 132px;
      margin-left: auto;
      margin-right: auto; }
    @media (max-width: 960px) {
      #home #videos #plataformas-de-audio_branco {
        display: none; } }

#home #espaco-do-fa {
  background-color: #EA2F66;
  background-image: url(../img/espaco-fa-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  padding: 30px 0;
  width: 100%; }
  #home #espaco-do-fa #brand {
    display: flex;
    justify-content: center; }
    #home #espaco-do-fa #brand img {
      max-width: 378px; }
  @media (max-width: 960px) {
    #home #espaco-do-fa .fan {
      display: none; } }
  #home #espaco-do-fa #botoes-acessar {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    float: right;
    max-width: 1200px;
    margin-top: -100px;
    position: absolute;
    width: 85vw; }
    @media (max-width: 960px) {
      #home #espaco-do-fa #botoes-acessar {
        align-items: center;
        margin-top: 10px;
        position: relative; } }
    #home #espaco-do-fa #botoes-acessar button {
      background: none;
      border: none;
      color: #ffffff;
      display: flex;
      flex-flow: row;
      font-size: 1.2rem;
      margin-top: 10px; }
      #home #espaco-do-fa #botoes-acessar button img {
        max-height: 20px;
        max-width: 20px;
        margin-right: 10px; }

#home #secao-fas {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%; }
  @media (max-width: 960px) {
    #home #secao-fas {
      justify-content: center; } }
  #home #secao-fas .fan {
    border-radius: 50%;
    margin: 5px;
    overflow: hidden; }
  #home #secao-fas button {
    max-height: 60px;
    border-radius: 4px; }
    #home #secao-fas button:hover {
      color: #ffffff; }

#formulario-contrate-nos {
  width: 95%; }

.campo-form {
  color: #573668 !important;
  margin: 5px; }
  .campo-form textarea,
  .campo-form input {
    border: 2px solid #573668;
    padding: 10px 5px;
    width: 100%; }
  .campo-form textarea {
    width: 102%; }
    @media (max-width: 480px) {
      .campo-form textarea {
        width: 100%; } }

footer {
  align-items: center;
  background-color: #371126;
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  margin-top: -10px; }
  footer .btn {
    font-family: "Mayeka Light" !important;
    letter-spacing: 2px;
    border-radius: 4px;
    opacity: 0.9; }
    footer .btn:hover {
      color: white !important; }
  footer #agende-seu-show {
    font-family: "Mayeka Light"; }
    footer #agende-seu-show h2 {
      margin-bottom: -10px; }
  footer .form-area-restrita,
  footer .col-4 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap; }
    footer .form-area-restrita h3,
    footer .col-4 h3 {
      font-family: Montserrat; }
  footer .form-area-restrita {
    margin-bottom: 50px; }
  footer .form-area-restrita-footer {
    align-items: flex-end; }
    footer .form-area-restrita-footer button {
      margin-bottom: -30px; }
    footer .form-area-restrita-footer .linha-horizontal {
      width: 8vw;
      max-width: 100px; }
  footer .form-area-restrita {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff; }
    footer .form-area-restrita-header, footer .form-area-restrita-footer {
      display: flex;
      justify-content: space-between;
      width: 100%; }
    footer .form-area-restrita h4 {
      margin-top: -10px; }
    footer .form-area-restrita input[type="password"] {
      background: rgba(168, 123, 129, 0.719);
      border: none;
      border-radius: 5px;
      color: #fff;
      display: block;
      font-family: Montserrat;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      padding: 15px 0;
      text-align: center;
      width: 80%; }
      footer .form-area-restrita input[type="password"]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ffffff; }
      footer .form-area-restrita input[type="password"]::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff; }
      footer .form-area-restrita input[type="password"]:-ms-input-placeholder {
        /* IE 10+ */
        color: #ffffff; }
      footer .form-area-restrita input[type="password"]:-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff; }
  footer .item-contato {
    text-align: center;
    margin: 10px 0; }
  footer .linha-horizontal {
    background-color: #ffffff;
    display: block;
    height: 1px;
    width: 3vw; }
  footer img {
    display: block;
    width: auto; }

.btn-default {
  color: #e02009;
  border-color: transparent;
  background-color: transparent;
  border-color: #e02009; }
  .btn-default a {
    color: inherit; }
  .btn-default:hover {
    color: transparent;
    background: transparent;
    border-color: transparent; }

.btn-red {
  color: #e02009;
  border-color: transparent;
  background-color: transparent;
  border-color: #e02009; }
  .btn-red a {
    color: inherit; }
  .btn-red:hover {
    color: transparent;
    background: transparent;
    border-color: transparent; }

.btn-green {
  color: #1D9F75;
  border-color: transparent;
  background-color: transparent;
  border-color: #1D9F75; }
  .btn-green a {
    color: inherit; }
  .btn-green:hover {
    color: transparent;
    background: transparent;
    border-color: transparent; }

.btn-blue {
  color: #3F00A6;
  border-color: transparent;
  background-color: transparent;
  border-color: #3F00A6; }
  .btn-blue a {
    color: inherit; }
  .btn-blue:hover {
    color: transparent;
    background: transparent;
    border-color: transparent; }

.btn-indigo {
  color: #f7f7f7;
  border-color: #3F51B5;
  background-color: #3F51B5; }
  .btn-indigo a {
    color: inherit; }
  .btn-indigo:hover {
    color: #3F51B5;
    background: transparent;
    border-color: #3F51B5; }

.btn-amethyst {
  color: #f7f7f7;
  border-color: #9b59b6;
  background-color: #9b59b6; }
  .btn-amethyst a {
    color: inherit; }
  .btn-amethyst:hover {
    color: #9b59b6;
    background: transparent;
    border-color: #9b59b6; }

.btn-purple {
  color: #f7f7f7;
  border-color: #8F0071;
  background-color: #8F0071; }
  .btn-purple a {
    color: inherit; }
  .btn-purple:hover {
    color: #8F0071;
    background: transparent;
    border-color: #8F0071; }

.btn-lightPurple {
  color: #f7f7f7;
  border-color: #6F475C;
  background-color: #6F475C; }
  .btn-lightPurple a {
    color: inherit; }
  .btn-lightPurple:hover {
    color: #6F475C;
    background: transparent;
    border-color: #6F475C; }

.btn-orange {
  color: #e67e22;
  border-color: transparent;
  background-color: transparent;
  border-color: #e67e22; }
  .btn-orange a {
    color: inherit; }
  .btn-orange:hover {
    color: transparent;
    background: transparent;
    border-color: transparent; }

.btn-white {
  color: #f7f7f7;
  border-color: transparent;
  background-color: transparent;
  border-color: #f7f7f7; }
  .btn-white a {
    color: inherit; }
  .btn-white:hover {
    color: transparent;
    background: transparent;
    border-color: transparent; }

.btn-white:hover {
  color: #252A34; }
