doctype html
html
  head
    title Área do Fã
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300i,400,900,900i" rel="stylesheet")
  body#area-do-fa
    include templates/modal-contratar
    header
      include templates/navbar
      .container
        include templates/redes-sociais
    section#seja-um-fa
      .item
        h3 JÁ SOU FÃ
        h4 ACESSE SUA ÁREA EXCLUSIVA
        button.btn.btn-indigo
          i.fa.fa-facebook
          | Entrar com o Facebook
      .item
        h3 SEJA UM FÃ
        h4 CLIQUE AQUI E CADASTRE-SE
        button.btn.btn-indigo
          i.fa.fa-facebook
          | Cadastre-se com o Facebook
    section#clube-de-fas
      .container
        input#current_page(type="hidden")
        input#show_per_page(type="hidden")
        .row#lista-de-fas
          .col-3
            .fan
              .fan-foto
                img(src="https://placeimg.com/640/640/1", alt="")
              .fan-descricao
                span.nome Vanessa
                span.local Belo Horizonte - MG
                span.idade 19 anos
          .col-3
            .fan
              .fan-foto
                img(src="https://placeimg.com/640/640/2", alt="")
              .fan-descricao
                span.nome João
                span.local Uberaba - MG
                span.idade 22 anos
          .col-3
            .fan
              .fan-foto
                img(src="https://placeimg.com/640/640/3", alt="")
              .fan-descricao
                span.nome Sammara
                span.local Belo Horizonte - MG
                span.idade 15 anos
          .col-3
            .fan
              .fan-foto
                img(src="https://placeimg.com/640/640/4", alt="")
              .fan-descricao
                span.nome José
                span.local Montes Claros - MG
                span.idade 27 anos
          .col-3
            .fan
              .fan-foto
                img(src="https://placeimg.com/640/640/5", alt="")
              .fan-descricao
                span.nome Maria
                span.local Lauro de Freitas - BA
                span.idade 17 anos
        #page-navigation
    include templates/footer
  script(src="js/jquery.js" type="text/javascript")
  script(src="js/alpha.js" type="text/javascript")
  script(src="js/lista-de-fas.js" type="text/javascript")
  script(src="js/ease.min.js" type="text/javascript")
  script(src="js/segment.min.js" type="text/javascript")
  script(src="js/main.js" type="text/javascript")
