doctype html
html
  head
    title Home - Ricardo Ozcar
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300i,400,900,900i" rel="stylesheet")
  body#home
    .modal
      input#modal-evento-1.modal-open(type="checkbox" hidden="")
      .modal-wrap(aria-hidden="true" role="dialog")
        label.modal-overlay(for="modal-evento-1")
        .modal-dialog
          .modal-header
            i.fa.fa-calendar
            h3.text-center SIRENA - MARESIAS
            h4.text-center Sirena - Maresias, São Sebastião - SP
          .modal-body.row
            .col-6
              .data-evento
                i.fa.fa-calendar.fa-2x
                h2 FEV 10
            .col-6
              .horario-evento
                i.fa.fa-clock-o.fa-2x
                h2 23:00h
          .modal-footer
            .fb-comments(data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5")
    include templates/modal-contratar
    header
      #header
        include templates/navbar
        .container.h-50         
          include templates/redes-sociais
      #slider-home.header-slider.slider
        div
          img(src="img/header-home.png")
        div
          img(src="img/header-home_1.png")
        div
          img(src="img/header-home_2.png")
    #agenda
      .container
        h2.titulo.azul Agenda
        h4.titulo.branco Fique ligado por onde vamos estar
          .row.responsive.slider#itens-agenda
            div.col-3
              .item-agenda
                label(for="modal-evento-1" aria-selected="true")
                  h2 25
                h4 SÃO PAULO - SP
                  b JANEIRO
            div.col-3
              .item-agenda
                label(for="modal-evento-1" aria-selected="true")               
                  h2 25
                h4 SÃO PAULO - SP
                  b JANEIRO
            div.col-3
              .item-agenda
                label(for="modal-evento-1" aria-selected="true")                
                  h2 25
                h4 SÃO PAULO - SP
                  b JANEIRO
            div.col-3
              .item-agenda
                label(for="modal-evento-1" aria-selected="true")                
                  h2 25
                h4 SÃO PAULO - SP
                  b JANEIRO

    #galeria
      .container
        h2.titulo.branco Galeria
        h4.titulo.branco Fique ligado nas fotos do nosso show
        .galeria.slider
          div
            a(href="http://placeimg.com/800/600/1" data-lightbox="image-1" data-title="Imagem 1")
              img(src="http://placeimg.com/350/300/1")
          div
            a(href="http://placeimg.com/800/600/2" data-lightbox="image-1" data-title="Imagem 2")            
              img(src="http://placeimg.com/350/300/2")
          div
            a(href="http://placeimg.com/800/600/3" data-lightbox="image-1" data-title="Imagem 3")
              img(src="http://placeimg.com/350/300/3")
          div
            a(href="http://placeimg.com/800/600/4" data-lightbox="image-1" data-title="Imagem 4")
              img(src="http://placeimg.com/350/300/4")
          div
            a(href="http://placeimg.com/800/600/5" data-lightbox="image-1" data-title="Imagem 5")
              img(src="http://placeimg.com/350/300/5")
          div
            a(href="http://placeimg.com/800/600/6" data-lightbox="image-1" data-title="Imagem 6")
              img(src="http://placeimg.com/350/300/6")

    #videos
      .container
        h2.titulo.branco Vídeos
        h4.titulo.branco Em primeira mão no nosso canal

        #videos-destaque.col-6.center-block.fade.slider
          div
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/oQjeFmKQCNw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
          div
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/8Gphls9lAus" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
          div
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/EvqbNh3taUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
        #video-buttons.col-6.center-block
          button.btn-white
            i.fa.fa-youtube
            | INSCREVA-SE
          button.btn-white
            i.fa.fa-download
            | BAIXE AQUI
          button.btn-white
            i.fa.fa-facebook
            | COMPARTILHE
        #video-social-white
          #plataformas-de-audio_branco
            img(src="img/spotify-branco.png", alt="Spotify")
            img(src="img/itunes-branco.png", alt="iTunes")
            img(src="img/google-play-branco.png", alt="Google Play")
            img(src="img/deezer-branco.png", alt="DEEZER")
    #espaco-do-fa
      .container
        #brand
          img(src="img/espaco-do-fa.png", alt="Espaço do Fã")
        #botoes-acessar
          a(href="#")
            button
              img(src="img/cadeado.png", alt="")
              | ACESSAR
          a(href="#")
            button
              img(src="img/social-icone.png", alt="")
              | VER TODOS
        #secao-fas
          .fan
            img(src="http://placeimg.com/640/640/1", alt="")
          .fan
            img(src="http://placeimg.com/640/640/1", alt="")
          .fan
            img(src="http://placeimg.com/640/640/1", alt="")
          button.btn.btn-purple
            | COMPARTILHE
          .fan
            img(src="http://placeimg.com/640/640/1", alt="")
          .fan
            img(src="http://placeimg.com/640/640/1", alt="")
          .fan  
            img(src="http://placeimg.com/640/640/1", alt="")

    include templates/footer.pug
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  script(src="js/jquery.js" type="text/javascript")
  script(src="js/alpha.js" type="text/javascript")
  script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js" type="text/javascript")
  script(src="js/slick-config.js" type="text/javascript")
  script(src="js/ease.min.js" type="text/javascript")
  script(src="js/segment.min.js" type="text/javascript")
  script(src="js/main.js" type="text/javascript")
  script(src="js/lightbox.js" type="text/javascript")