doctype html
html
  head
    title Ricardo Ozcar
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300i,400,900,900i" rel="stylesheet")
  body#pagina-hotsite
    .container
      header
        #logo-cabecalho.animate.fadeIn.delay
          img(src="../img/ricardo-ozcar-logo.png" alt="Imagem Header")
      #video-hotsite
        #menu-botoes
          a(href="/home.html") 
            button.btn-white
              | Entrar no 
              b Site
          // BOTÃO 1
          a(href="#") 
            button.btn-white
              | Inscreva-se no 
              b canal
          // BOTÃO 2
          a(href="#") 
            button.btn-white
              | Baixar 
              b Música
          // BOTÃO 3
        #video-secao.animate.fadeIn.delay-2x
          iframe(width="100%" height="100%" src="https://www.youtube.com/embed/oQjeFmKQCNw?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
      #video-social.animate.fadeIn.delay-2x
        h3.branco 
          i compartilhem nas 
            b redes
        #redes
          a(href="https://www.youtube.com/channel/UCzeD_dkpDgV1g-fKFbTWp2g")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-youtube.fa-stack-1x
          a(href="https://www.facebook.com/cantorricardoozcar/")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x
          a(href="https://www.instagram.com/ricardoozcar/")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-instagram.fa-stack-1x
          a(href="https://twitter.com/ricardoozcar")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x
          
      #ouca-nas-plataformas.branco
        h2
          sub Ouça nas
          | Plataformas Digitais
        #plataformas-de-audio
          .plataforma#spotify
            .logo
              img(src="img/spotify-logo.png" alt="Spotify Logo")
            .plataforma-nome
              | Spotify
          .plataforma#itunes
            .logo
              img(src="img/itunes-logo.png" alt="iTunes Logo")
            .plataforma-nome
              | iTunes
          .plataforma#google-play
            .logo
              img(src="img/google-play-logo.png" alt="Google Play Logo")
            .plataforma-nome
              | Google Play
          .plataforma#deezer
            .logo
              img(src="img/deezer-logo.png" alt="DEEZER Logo")
            .plataforma-nome
              | DEEZER
    footer
      img(src="../img/hyper-promocoes.png" alt="Hyper Promoções")
      span#copyright 2018 - Todos os direitos reservados a Ricardo Ozcar.

      br

      #vmais
        b AGÊNCIA OFICIAL
        img(src="../img/logo-vmais.png" alt="Logo VMAIS")

