// Mayeka

@font-face {
    font-family: "Mayeka";
    font-weight: normal;
    src: url("fonts/MayekaRegular.otf") format("opentype");
}

@font-face {
    font-family: "Mayeka Demi Bold";
    font-weight: bolder;
    src: url("fonts/MayekaDemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Mayeka Bold";
    font-weight: bold;
    src: url("fonts/MayekaBold.otf") format("opentype");
}

@font-face {
    font-family: "Mayeka Light";
    font-weight: lighter;
    src: url("fonts/MayekaLight.otf") format("opentype");
}

// Days Font

@font-face {
    font-family: "Days";
    font-weight: normal;
    src: url("fonts/Days.ttf") format("truetype");
}