label[for^="modal"] {
  cursor: pointer;
}

#galeria-modal {
  .modal-dialog {
      background: #000000;
      height: 100vh!important;
      max-width: 100vw!important;

    .modal-body {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
    }

    .btn-close {
        color: white;
        position: absolute;
        right: 30px;
        top: 30px;
    }

  }

  .modal-open:checked~.modal-wrap .modal-dialog {
    width: 100vw!important;
  }
}

.modal {
    .btn-close {
        color: $red; 
        cursor: pointer; 
        font-size: 5rem;
        line-height: 2rem;
        right: 5px;
        text-decoration: none; 

        &:hover,
        &:focus {
            color: darken($red, 10%);
        }

        @media (max-width:480px) {
            align-self: flex-end;
        }
    }
      
} 

.modal-wrap {
  &:before {
        content: ''; 
        display:none;
        background: rgba($color: #000000, $alpha: 0.6);
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 101;
    }
}
    

// Modal Overlay
// -------------------------------------------------- 

.modal-overlay { 
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
}
 

// Modal Open
// -------------------------------------------------- 

.modal-open:checked ~ .modal-wrap {
    &:before,
    & .modal-overlay {
        display: block;
    }

    .modal-dialog { 
        transform: translate(-50%,-50%);
        position: fixed;
        top: 50%;

        @media (max-width:480px) {
            overflow-y: scroll;
            max-height: 90vh;
            max-width: 90vw;
        }
    }
}
 

// Modal Dialog
// -------------------------------------------------- 

.modal-dialog { 
    background: #fefefe; 
    left: 50%; 
    max-width: 600px; 
    position: fixed; 
    top: -100%; 
    transform: translate(-50%,-150%); 
    transition: .6s ease-in-out;
    width: 80%; 
    z-index: 103;

    @media (max-width:480px) {
        width: 100%;
    }
}

.modal-body { 
    padding: 10px 20px;
 
    p { 
        margin: 0;
    }
}   

.modal-header,
.modal-footer { 
  padding: 20px;
}
 

.modal-header{  
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    a {
        text-decoration: none;
    }

    h2 { 
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
        margin-bottom: 5px;
    }

    h4 {
        display: inline-block;
        line-height: 10px;
        margin-left: 10px;
    }

    i.fa.fa-comments-o,
    i.fa.fa-calendar {
        border-radius: 50%;
        background: $medium-purple;
        color: white;
        font-size: 30px;
        padding: 15px;
    }

    @media (max-width:480px) {
        flex-flow: column-reverse;
         .author-profile {
             display: none
         }
    }
}

.modal-body {
    .data-evento {
        align-items: center;
        background: $medium-purple;
        border-radius: 5px;
        color: #f3f3f3;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 5px;
        padding: 20px 0;

        h2 {
            font-family: Days;
            font-size: 2rem;
        }
    }

    .horario-evento {
        align-items: center;
        background: #f3f3f3;
        border-radius: 5px;
        color: #c8c8c8;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 5px;
        padding: 20px 0;
        
        h2 {
            color: $medium-purple;
            font-family: Days;
            font-size: 2rem;
        }
    }
}
 
.modal-footer { 
    color: white;
    background: $medium-purple;
    text-align: center;

    .fb_iframe_widget {
        background: white;
    }

    .btn-white:hover {
        background: white!important;
        color: $medium-purple!important;
    }
}
