.navbar {
	top: 0;
	z-index: 10;
}

.navbar li,
.nav-menu ul,
.drawer-menu ul {
	display: inline;
	list-style: none;
}

.nav-menu {
	font-family: sans-serif;
	display: inline;
	transition:all .2s ease-in-out;
}

.nav-menu li {
	text-decoration: none;
	transition:all .2s ease-in-out;
	padding: 10px 20px;

	&:hover {
		background: rgba(255,255,255,0.1);
	}

}

.brand {
	font-size: 2em;
	font-weight: 600;
	display: inline;
}

.drawer {
	width: $navbar-height;
    height: $navbar-height;
    margin-left: -6vw;
    margin-right: 3vw;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;
    display: none;
    z-index: 10;

    & .icon-bar {
    	background-color: #fff;
	    display: block;
	    width: 40px;
	    height: 5px;
	    margin-top: 6px;
	    margin-left: auto;
		margin-right: auto;

		&:first-child {
			margin-top: 0;
		}
    }

    &:hover, &:active {
    	background: rgba(255,255,255,0.1);
    }
}

.drawer-menu {
	display: none;
	transition: all .3s ease-in-out;
	background: #1b1f27;
    box-shadow: 2px -30px 38px -1px rgba(0,0,0,0.4);
    height: 100vh;
    padding-top: 16vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 60vw;
    z-index: 9;

    & li {
    	padding: 20px;
    	&:hover {
    		background: rgba(255,255,255,.1);
    	}
	}
}

.hide-drawer {
	width: 0vw!important;
	left: -35vw;
}

.overlay {
	overflow: hidden;

}