@import "fonts";

* {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span, p {
	font-size: 1.1rem;
}

p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

em {
    background-color: #efefef;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 3px;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 1.5rem;
}

.uppercase {
	text-transform: uppercase;
}

.vermelho {
  color: $red;
}

.branco {
  color: white!important;
}

.azul {
  color: $blue;
}

.roxo {
  color: $purple;
}